{% extends 'base.html' %}

{% block content%}

<form action="" method="post">
  {{form.csrf_token}}
  <div class="form-group">
  <label for="username">Nome</label>
  {{form.username(class="form-control", placeholder="Nome de usuário")}}
  {% if form.errors.username %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>
<div class="form-group">
  <label for="password">Senha</label>
  {{form.password(class="form-control")}}
  {% if form.errors.password %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>

<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{%endblock%}
<!-- Não precisaremos para cadastrar inicialmente
<div class="form-group">
  <label for="name">Nome</label>
  {{form.name(_class="form-control", placeholder="Nome")}}
  {% if form.errors.name %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>
<div class="form-group">
  <label for="lastname">Sobrenome</label>
  {{form.lastname(_class="form-control", placeholder="Sobrenome")}}
  {% if form.errors.lastname %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>
<div class="form-group">
  <label for="email">Email</label>
  {{form.email(_class="form-control", placeholder="Email")}}
  {% if form.errors.email %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>
<div class="form-group">
  <label for="telefone">Telefone</label>
  {{form.telefone(_class="form-control", placeholder="(xx)XXXXX-XXXX")}}
  {% if form.errors.telefone %}
  <div class="alert alert-danger" role="alert"> Este campo é obrigatório</div>
  {%endif%}
</div>
-->
